.container {

}

.title {
    margin-left: 1.5rem;
}

.header {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.search-bar-div {
    display: flex;
    align-items: center;
    margin-left: 4em;
    
}

.search-icon {
    position: absolute;
    margin-left: 0.25em;
}

.search-input {
    border: 1px solid rgb(135, 138, 138);
    padding: 0.35em 1.5em;
}

.new-button-div {
    margin-right: 6em;
}

.table-responsive {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.table {
    color: black
}

table {
    border-collapse: collapse;
}

table ,th ,td {
    border: 1px solid rgb(135, 138, 138);
}