<div class="container">
  <div>
    <h4 class="title">Listado de Pokemon</h4>
  </div>
  <div class="header">
    <div class="search-bar-div">
      <fa-icon class="search-icon" [icon]="faMagnifyingGlass"></fa-icon>
      <input class="search-input" #searchBar type="text" placeholder="Buscar"  (keyup.enter)="getPokemonById($event)" data-testid="search-bar"/>
      <button class="new-button" data-testid="reset-button" style="margin-left: 1em;" (click)="resetSearch()"><fa-icon class="update-icon icon" [icon]="faEraser"></fa-icon> Reset</button>
    </div>
    <div class="new-button-div">
      <button class="new-button" (click)="openNewModal()" data-testid="new-button">
        <fa-icon class="update-icon icon" [icon]="faPlus"></fa-icon> NUEVO
      </button>
    </div>
  </div>
  <div class="select-div" *ngIf="showErrorSearchBar">
    <span class="error-span">No se encontro el pokemon con el id ingresado</span>
  </div>
  <div class="select-div">
    <span>Mostrar n número de pokemons: </span>
    <select  (change)="changeSelect($event)">
      <option value="OPCIONES" disabled >OPCIONES</option>
      <option *ngFor="let n of numbersArray" value="{{n}}" >{{n}}</option>
    </select>
  </div>
  <div class="table-responsive">
    <table class="table" >
      <thead>
        <tr>
          <th *ngFor="let col of columns">{{ col.caption }}</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody data-testid="pokemons-table-rows">
        <tr *ngFor="let pokemon of pokemons; let i = index" >
          <div class="div-td" *ngFor="let col of columns">
            <td *ngIf="col.field != 'image'">{{ pokemon[col.field] }}</td>
            <td *ngIf="col.field == 'image'">
              <img class="pokemon-img" src="{{ pokemon[col.field] }}" />
            </td>
          </div>

          <td>
            <fa-icon
              (click)="openUpdateModal(pokemon, i)"
              class="update-icon icon purple"
              [icon]="faPenToSquare"
              [attr.data-testid]="'update-button-' + i"
            ></fa-icon>
            <fa-icon
              (click)="deletePokemon(pokemon['id'], i)"
              class="purple icon"
              [icon]="faTrashCanArrowUp"
              [attr.data-testid]="'delete-button-' + i"
            ></fa-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="update-pokemon" *ngIf="updateModal" data-testid="update-modal">
  <div class="card">
    <div>
      <h4>Actualizar Pokemon</h4>
    </div>

    <div class="form-container">
      <form [formGroup]="updateForm" (ngSubmit)="updatePokemon()" data-testid="update-form">
        <div class="form-div">
          <div>
            <span for="name">Nombre: </span>
            <input
              data-testid="name-input-update"
              class="input-form"
              type="text"
              placeholder="nombre"
              formControlName="name"
              id="name"
              [ngClass]="{
                'input-form-error':
                  updateForm.controls['name'].errors &&
                  (updateForm.controls['name'].touched ||
                    updateForm.controls['name'].dirty)
              }"
            />
          </div>

          <div class="range-div">
            <span for="attack">Ataque: 0 </span>
            <input
              data-testid="attack-input-update"
              type="range"
              formControlName="attack"
              class="range-input"
              id="attack"
            />
            <span> 100</span>
          </div>

          <div>
            <span for="image">Imagen:</span>
            <input
              data-testid="image-input-update"
              class="input-form"
              pattern="https://.*"
              type="url"
              placeholder="url"
              class="input-form"
              style="margin-left: 0.6em"
              formControlName="image"
              id="image"
              [ngClass]="{
                'input-form-error':
                  updateForm.controls['image'].errors &&
                  (updateForm.controls['image'].touched ||
                    updateForm.controls['image'].dirty)
              }"
            />
          </div>

          <div class="range-div">
            <span for="defense">Defensa: 0</span>
            <input
              data-testid="defense-input-update"
              type="range"
              formControlName="defense"
              class="range-input"
              id="defense"
            />
            <span for="defense"> 100</span>
          </div>

          <div>
            <span for="type">Tipo: </span>
            <input
              data-testid="type-input-update"
              class="input-form"
              type="text"
              placeholder="tipo"
              style="margin-left: 1.6em"
              formControlName="type"
              id="type"
              [ngClass]="{
                'input-form-error':
                  updateForm.controls['type'].errors &&
                  (updateForm.controls['type'].touched ||
                    updateForm.controls['type'].dirty)
              }"
            />
          </div>

          <div class="range-div">
            <span for="hp">HP: 0</span>
            <input
              data-testid="hp-input-update"
              type="range"
              formControlName="hp"
              class="range-input"
              id="hp"
            />
            <span for="hp"> 100</span>
          </div>
        </div>
        <div class="form-buttons">
          <button
            class="new-button"
            style="margin-right: 1em"
            type="button"
            [disabled]="!updateForm.valid"
            (click)="updatePokemon()"
            data-testid="submit-update-button"
          >
            <fa-icon class="update-icon icon" [icon]="faFloppyDisk"></fa-icon
            >Guardar
          </button>
          <button class="new-button" type="button" (click)="closeUpdateModal()" data-testid="cancel-update-button" >
            <fa-icon class="update-icon icon" [icon]="faxMark"></fa-icon
            >Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="new-pokemon" *ngIf="newModal" data-testid="new-pokemon-modal">
  <div class="card" >
    <div>
      <h4>Nuevo Pokemon</h4>
    </div>

    <div class="form-container">
      <form [formGroup]="newForm" (ngSubmit)="postPokemon()" data-testid="new-form">
        <div class="form-div">
          <div>
            <span for="name">Nombre: </span>
            <input
              class="input-form"
              type="text"
              data-testid="name-input-post"
              placeholder="nombre"
              formControlName="name"
              id="name"
              [ngClass]="{
                'input-form-error':
                  newForm.controls['name'].errors &&
                  (newForm.controls['name'].touched ||
                    newForm.controls['name'].dirty)
              }"
            />
          </div>

          <div class="range-div">
            <span for="attack">Ataque: 0 </span>
            <input
              data-testid="attack-input-post"
              type="range"
              formControlName="attack"
              class="range-input"
              id="attack"
            />
            <span> 100</span>
          </div>

          <div>
            <span for="image">Imagen:</span>
            <input
              data-testid="image-input-post"
              class="input-form"
              pattern="https://.*"
              type="url"
              placeholder="url"
              class="input-form"
              style="margin-left: 0.6em"
              formControlName="image"
              id="image"
              [ngClass]="{
                'input-form-error':
                  newForm.controls['image'].errors &&
                  (newForm.controls['image'].touched ||
                    newForm.controls['image'].dirty)
              }"
            />
          </div>

          <div class="range-div">
            <span for="defense">Defensa: 0</span>
            <input
              data-testid="defense-input-post"
              type="range"
              formControlName="defense"
              class="range-input"
              id="defense"
            />
            <span for="defense"> 100</span>
          </div>

          <div>
            <span for="type">Tipo: </span>
            <input
              data-testid="type-input-post"
              class="input-form"
              type="text"
              placeholder="tipo"
              style="margin-left: 1.6em"
              formControlName="type"
              id="type"
              [ngClass]="{
                'input-form-error':
                  newForm.controls['type'].errors &&
                  (newForm.controls['type'].touched ||
                    newForm.controls['type'].dirty)
              }"
            />
          </div>

          <div class="range-div">
            <span for="hp">HP: 0</span>
            <input
              data-testid="hp-input-post"
              type="range"
              formControlName="hp"
              class="range-input"
              id="hp"
            />
            <span for="hp"> 100</span>
          </div>
        </div>
        <div class="form-buttons">
          <button
            class="new-button"
            style="margin-right: 1em"
            type="button"
            [disabled]="!newForm.valid"
            (click)="postPokemon()"
            data-testid="submit-post-button"
          >
            <fa-icon class="update-icon icon" [icon]="faFloppyDisk"></fa-icon
            >Guardar
          </button>
          <button class="new-button" type="button" (click)="closeNewModal()" data-testid="cancel-post-button">
            <fa-icon class="update-icon icon" [icon]="faxMark"></fa-icon
            >Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
