
.title {
    margin-left: 4em;
}

.header {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.search-bar-div {
    display: flex;
    align-items: center;
    margin-left: 4em;
    
}

.search-icon {
    position: absolute;
    margin-left: 0.25em;
}

.search-input {
    border: 2px solid rgb(183, 183, 183);
    padding: 0.35em 1.5em;
    border-radius: 6%;
}

.new-button-div {
    margin-right: 6em;
}

.new-button {
    padding: 0.35em 1.5em;
    border-radius: 6%;
    background-color: rgb(112, 46, 218);
    color: white;
    border: solid rgb(112, 46, 218)
}



.new-button:hover {
    cursor: pointer;
    color: black;
}

.new-button:disabled {
    opacity: 25%;
    cursor:default;
    color: white;
}

.table-responsive {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: calc(100% - 10rem);
    margin-left: 4rem;
}

.table {
    color: black
}

.div-td {
    display: contents;
}

.pokemon-img {
    max-width: 3em;
    max-height: 3em;
}

.update-icon {
    margin-right: 1em;
   
}

.purple {
    color: rgb(112, 46, 218);
}

.icon:hover {
    cursor: pointer;
    color: black;
}

.card {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 1em;
}

.form-div {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1.5em;
    align-items: center;
}

.form-container {
    width: 100%;
}

.form-buttons {
    text-align: center;
    margin: 1em 0em 1em 0em;
}

.range-div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.range-input {
    accent-color: rgb(112, 46, 218);
}

.input-form {
    border: 2px solid rgb(183, 183, 183);
    padding: 0.35em 1.5em;
    border-radius: 6%;
}

.input-form-error {
    border: 2px solid rgb(227, 3, 3);
    padding: 0.35em 1.5em;
    border-radius: 6%;
}

.update-pokemon {
    width: calc(100% - 10rem);
    margin: 2rem 0rem 4rem 4rem;
    border: 2px solid rgb(183, 183, 183);
}

.new-pokemon {
    width: calc(100% - 10rem);
    margin: 2rem 0rem 4rem 4rem;
    border: 2px solid rgb(183, 183, 183);
}

.select-div {
    margin: 1em 0em 0em 4em;
}

table {
    border-collapse: collapse;
}

table ,th ,td {
    border: 2px solid rgb(183, 183, 183);
}

tbody {
    text-align: center;
}