
.container {
    display: flex;
    height: 100%;
    width: calc(100% - 1.5rem);
    margin: 1.5rem  0rem 1.5rem 0rem;
    flex-direction: column;
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(#c2c2c2 0.55px, #ffffff 0.55px);
    background-size: 11px 11px;
    min-height: 40rem;
}

.table-container {
    margin-top: 20px;
    width: 100%;
}

.new-pokemon-container {
    background-color: red;
}