
.container {
    display: flex;
    height: 100%;
    width: calc(100% - 1.5rem);
    margin: 1.5rem  0rem 1.5rem 0rem;
    flex-direction: column;
    border: 3px solid black;
}

.table-container {
    margin-top: 20px;
    width: 100%;
}

.new-pokemon-container {
    background-color: red;
}